/* Style de base pour le conteneur principal */
.movies-container {
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Titre principal */
.movies-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Conteneur pour la liste des films */
.movies-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: rgb(76, 81, 88);
}

/* Carte individuelle pour chaque film */
.movie-card {
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
    position: relative;
}


/* Effet au survol de la carte */
.movie-card:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-card:hover .overlay{
    opacity: 1;
}

.overlay{
    color:red;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
/* Image de l'affiche du film */
.movie-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

/* Affichage des erreurs */
.error-message {
    color: red;
    font-size: 1.2rem;
    margin-top: 20px;
}


